<p appHighlight>Direttiva applicata</p>

<!-- oggetto -->
<p>{{oggetto?.chiave}}</p>
<p>{{oggetto1?.chiave}}</p>
<!-- il punto di domanda indica 'se l'oggetto c'è fallo 
visualizzare, se non c'è, continua 
in questo caso il primo non verrà visualizzato perchè non
inizializzato, mentre il secondo si-->

<p>{{title}}</p>
<p>title</p>
<p [innerHTML]='title'>title</p>
<p>The sum of 1 + 1 is not {{1 + 2 + getVal()}}</p>
<div>{{HTMLString}}</div> <!-- visualizza la stringa-->
<div [innerHTML] = 'HTMLString'></div> <!-- visualizza 'prova1 all'interno della struttura-->


<!-- diversi modi per inserire un link-->
<div>
  <a href="https://google.it">Link</a>
</div>
<div>
  <a href="{{linkUrl}}">Link</a>
  <!-- normale href, ma con l'interpolazione ll'interno della stinga
  dove dovrebbe essere il codice -->
</div>
<div>
  <a [href]="linkUrl">Link</a>
  <!-- stiamo inserendo href come fosse una property -->
</div>

<div>{{lista[0]}}</div>
<div>{{lista[1]}}</div>
<div>{{lista[2]}}</div>
<!-- in questo modo, però, se aggiungessimo cose alla lista
dovremmo ogni colta scrivere manualmente il div -->

<!-- con il for, per evitare di non ripetere i div 
infatti, nella lista c'è anche il 6, ma sopra
non si vede perchè non abbiamo inserito il div manualmente
mentre così uscirà -->
<div *ngFor="let pippo of lista" >
    {{pippo}}
</div>

<p>{{titoloInput | uppercase}} works!</p>
<p>{{'ciao ' + titoloInput}} works!</p>
<!-- quella modifica uppercase/lowercase, funziona solo in visualizzazione
quindi non modifica veramente la variabile -->

<p [class.colorRed] = "toggleStyle" [class.boldStyle] = "!toggleStyle">{{myDate}}</p>
<button (click)="toggleStyle = !toggleStyle">Toggle Style</button>
<!-- si può formattare la data e darle una visualizzazione diversa -->
<p>{{myDate | date}}</p>
<p [ngClass] = "{colorRed:toggleStyle, boldStyle:!toggleStyle}">{{myDate | date: 'longDate' | lowercase}}</p>
<p [ngClass] = "myStyles">{{myDate | date: 'long' | uppercase}}</p>
<!-- ci sono delle formattazioni diverse da richiamare tramite una stringa, 
come 'long' 'londDate' ecc -->

<div *ngFor="let stringa of lista2">
  <p>{{ stringa }}</p>
</div>

